[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/gsprop"]
	path = libs/gsprop
	url = https://github.com/Furetto126/gsprop.git
